.DS_Store

node_modules/
build/
.vscode/

#image
*.jpg
*.jpeg
*.gif
*.png
*.svg
*.psd
*.ai
*.xd

#wordpress
/wp-config.php
/.htaccess
/.htpasswd
/index.php
/license.txt
/readme.html
/wp-*.php
/xmlrpc.php
/wp-admin/*
/wp-content/*
!/wp-content/themes
/wp-content/themes/*
!/wp-content/themes/sample
/wp-includes/*